*  {
    margin: 4px;
    padding: 1px;
    }
    
    header {
        background-color: burlywood;
    }
    
    header nav {
        text-align: center;
    }
    
    header nav ul {
        list-style-type: none;
    }
    
    header nav ul li a{
        text-decoration: none;
        color: black;
    }
    
    main {
        text-align: center;
    }

    h1 {
        font-size: 50px;
    }
    
    main .image-container img {
        width: 250px;
        height: 200px;
    }

    main .gif-container img {
        width: 450px;
    }

    main .paragraph p {
        text-align: justify;
    }

    main .learn-more button{
        position: relative;
        right: 850px;
        text-align: center;
    }
    
    footer {
        text-align: center;
        background-color: burlywood;
    }
    
    footer p {
        color: black;
    }